.h5p-dragquestion {
  display: block;
  background: #fff;
}
.h5p-dragquestion p {
  font-size: inherit;
  line-height: inherit;
}
.h5p-dragquestion > .h5p-inner {
  position: relative;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 100%;
  margin: 0 auto;
  overflow: hidden;
}
.h5p-dragquestion .h5p-button {
  position: absolute;
  bottom: 0.625em;
  right: 1.225em;
  cursor: pointer;
  font-size: 1em;
  display: inline-block;
  padding: 0.25em 0.75em;
  border: 0.1875em solid #fff;
  border-radius: 0.3125em;
  cursor: pointer;
  color: #fff;
  box-shadow: 0 0 0.5em #999;
  text-decoration: none;
  text-align: center;
  margin: auto;

  background: rgb(100,152,254); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(100,152,254,1) 0%, rgba(4,104,206,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(100,152,254,1)), color-stop(100%,rgba(4,104,206,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(100,152,254,1) 0%,rgba(4,104,206,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(100,152,254,1) 0%,rgba(4,104,206,1) 100%); /* Opera 11.10+ */
  background: linear-gradient(top,  rgba(100,152,254,1) 0%,rgba(4,104,206,1) 100%);

  z-index: 4;
}

.h5p-dragquestion .h5p-button:hover {
  background: rgb(4,104,206); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(4,104,206,1) 0%, rgba(100,152,254,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(4,104,206,1)), color-stop(100%,rgba(100,152,254,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(4,104,206,1) 0%,rgba(100,152,254,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(4,104,206,1) 0%,rgba(100,152,254,1) 100%); /* Opera 11.10+ */
  background: linear-gradient(top,  rgba(4,104,206,1) 0%,rgba(100,152,254,1) 100%);
}

.h5p-dragquestion .h5p-button.h5p-retry-button:before {
  font-family: 'H5PFontAwesome4';
  content: "\f01e";
  margin-right: 0.5em;
}

.h5p-dragquestion .h5p-button:before {
  font-family: 'H5PFontAwesome4';
  content: "\f058";
  margin-right: 0.5em;
}

.h5p-dragquestion .h5p-static {
  background: #fff;
  position: absolute;
  z-index: 1;
}

.h5p-dragquestion .h5p-static.h5p-text {
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
}

.h5p-dragquestion .h5p-static > h2 {
  font-size: 1.5em;
  line-height: 1.25em;
  margin: 0;
}
.h5p-dragquestion .h5p-static > p {
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 1.25em;
}

.h5p-dragquestion .h5p-draggable {
  border-radius: 0.5em;
  border: 0.1em solid #c6c6c6;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  text-align: center;
  padding: 0.3em 0.3em;
  line-height: 1.25em;

  background: rgb(255,255,255);
  background: -webkit-linear-gradient(to bottom, rgb(255,255,255) 0%, rgb(224,224,224) 100%);
  background: linear-gradient(to bottom, rgb(255,255,255) 0%, rgb(224,224,224) 100%);

  box-shadow: 0em 0em 0.4em rgba(0,0,0,0.5);
  z-index: 3;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.h5p-dragquestion .h5p-draggable:hover {
  border: 0.1em solid #ceb8d2;
  color: #663366;
  background: rgb(234,224,236);
  background: -webkit-linear-gradient(to bottom, rgb(234,224,236) 0%, rgb(212,190,216) 100%);
  background: linear-gradient(to bottom, rgb(234,224,236) 0%, rgb(212,190,216) 100%);
}
.h5p-dragquestion .h5p-draggable.h5p-dropped {
  color: #235e7c;
  border: 0.1em solid #a9c3d0;
  background: rgb(227,234,238);
  background: -webkit-linear-gradient(to bottom, rgb(227,234,238) 0%, rgb(203,222,231) 100%);
  background: linear-gradient(to bottom, rgb(227,234,238) 0%, rgb(203,222,231) 100%);
}
.h5p-dragquestion .h5p-draggable > ul {
  text-align: left;
  margin: 0.5em 0.5em 0.5em 2.25em;
  padding: 0;
}
.h5p-dragquestion .h5p-draggable > ul > li {
  background: transparent;
  list-style: disc outside none;
  padding: 0;
  margin: 0;
}
.h5p-dragquestion .h5p-draggable.ui-draggable-dragging {
  opacity: 0.5;
  box-shadow: 0em 0em 0.8em rgba(0,0,0,0.5);
}
.h5p-dragquestion .h5p-draggable.ui-state-disabled {
  opacity: 1;
  cursor: default;
}
.h5p-dragquestion .h5p-draggable p {
  margin: 0;
  padding: 0;
}

.h5p-dragquestion .h5p-dropped.h5p-correct, .h5p-dragquestion .h5p-dropzone.h5p-correct-answer {
  color: #39692e;
  border: 0.1em solid #afcdaa;
  box-shadow: none;
  background: rgb(209,226,206);
  background: -webkit-linear-gradient(to bottom, rgb(209,226,206) 0%, rgb(209,226,206) 100%);
  background: linear-gradient(to bottom, rgb(209,226,206) 0%, rgb(209,226,206) 100%);
}

.h5p-dragquestion .h5p-dropped.h5p-wrong {
  border: 0.1em solid #ce9b9b;
  color: #c33f62;
  background: rgb(230,206,209);
  background: -webkit-linear-gradient(to bottom, rgb(230,206,209) 0%, rgb(230,206,209) 100%);
  background: linear-gradient(to bottom, rgb(230,206,209) 0%, rgb(230,206,209) 100%);
}
.h5p-dragquestion .h5p-dropped.h5p-wrong, .h5p-dragquestion .h5p-dropped.h5p-correct {
  text-align: left;
  font-size: 90%;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

.h5p-dragquestion .h5p-draggable.h5p-correct:after, .h5p-dragquestion .h5p-draggable.h5p-wrong:after {
  font-family: 'H5PFontAwesome4';
  font-size: 1em;
  font-weight: normal;
  position: absolute;
  right: 0;
  top: 0.1em;
  padding: 0 0.2em;
  background: inherit;
}

.h5p-dragquestion .h5p-draggable.h5p-correct.h5p-text:after, .h5p-dragquestion .h5p-draggable.h5p-wrong.h5p-text:after {
  background: none;
}
.h5p-dragquestion .h5p-dropped.h5p-correct:after {
  content: "\f00c";
}

.h5p-dragquestion .h5p-dropped.h5p-wrong:after {
  content: "\f00d";
}

.h5p-dragquestion .h5p-dropzone {
  z-index: 2;
  position: absolute;
}

.h5p-dragquestion .h5p-dropzone > .h5p-inner {
  border-radius: 0.5em;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: rgb(224,224,224);
  background: -webkit-linear-gradient(to bottom, rgb(224,224,224) 0%, rgb(255,255,255) 100%);
  background: linear-gradient(to bottom, rgb(224,224,224) 0%, rgb(255,255,255) 100%);
}

.h5p-dragquestion .h5p-dropzone.h5p-has-label > .h5p-inner {
  border-radius: 0 0em 0.5em 0.5em;
}

.h5p-dragquestion .h5p-dropzone > .h5p-inner.h5p-active {
  padding: 0;
  border: 0.1em dashed #666;
}

.h5p-dragquestion .h5p-dropzone > .h5p-inner.h5p-over {
  background: rgb(212,190,216);
  background: -webkit-linear-gradient(to bottom, rgb(212,190,216) 0%, rgb(234,224,236) 100%);
  background: linear-gradient(to bottom, rgb(212,190,216) 0%, rgb(234,224,236) 100%);
}

.h5p-dragquestion .h5p-label {
  line-height: 1.25em;
  padding-left: 0.5em;
  right: 0;
  left: 0;
  bottom: 100%;
  white-space: nowrap;
  border-radius: 0.5em 0.5em 0 0;
  position: absolute;

  background: rgb(236,236,236);
  background: -webkit-linear-gradient(to bottom, rgba(236,236,236,1) 0%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(236,236,236,1) 0%,rgba(255,255,255,1) 100%);
}

.h5p-dragquestion .h5p-dropzone-answer {
  position: absolute;
  top: 100%;
  margin-top: 0.125em;
  right: 0;
  padding: 0.25em 0.625em;
  font-size: 0.625em;
  line-height: 100%;

  border-radius: 0.5em;
}

.h5p-dragquestion .joubel-tip-container {
  position: absolute;
  right: 0.15em;
  bottom: 0;
  font-size: 0.8em;
}

.h5p-dragquestion .h5p-score {
  position: absolute;
  right: 1em;
  bottom: 3.5em;
}
