.dragndrop .button {
  cursor: pointer;
  position: absolute;
  text-align: center;
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color: #ededed;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  color: #777777;
  font-family: arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 14px;
  text-decoration: none;
  text-shadow: 1px 1px 0px #ffffff;
}
.show-score {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.dragndrop {
  position: relative;
  background-repeat: no-repeat;
  background-position: center top;
  display: block;
  height: 300px;
  width: 100%;
}
.dragndrop-title {
  font-size: 16px;
  font-weight: bold;
	padding-top: 10px;
  text-align: center;
}
.static {
  position: absolute;
}
.draggable {
  border-radius: 0.5em;
  border: 0.0625em solid #dcdcdc;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  text-align: center;
  padding: 0.125em;
  line-height: 1.25em;
}
.draggable:hover {
  border: 0.0625em solid #aaaaaa;
}
.draggable-correct,
.dropzone-answer {
  background: lightgreen;
  color: green;
  border: 0.0625em solid green;
}
.draggable-wrong {
  background: pink;
  color: red;
  border: 0.0625em solid red;
}
.draggable-correct:after,
.draggable-wrong:after {
  font-family: 'H5PFontAwesome';
  position: absolute;
  right: 0.15em;
  top: 0.15em;
}
.draggable-correct:after {
  content: "\f046";
}
.draggable-wrong:after {
  content: "\f00d";
}
.dropzone {
  border-radius: 0.5em;
  border: 0.125em solid #f5f5f5;
  position: absolute;
  background-color: #ffffff;
}
.dropzone-correct-answer {
  border: 0.125em solid green;
}
.dropzone-wrong-answer {
  border: 0.125em dashed red;
}
.dropzone-active {
  border: 0.125em dashed #666666;
  position: absolute;
}
.dragquestion-label {
  position: absolute;
  background: #efe2c9;
  font-size: 0.5em;
  line-height: 1.25em;
  top: -1.5em;
  left: -0.25em;
  padding: 0 0.25em;
}
.dropzone-answer {
  position: absolute;
  top: 100%;
  margin-top: 0.125em;
  right: 0;
  padding: 0.25em 0.625em;
  font-size: 0.625em;
  line-height: 100%;

  border-radius: 0.5em;
}
